<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Add medicine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a style="color: azure" class="navbar-brand" href="#">Medicine Shop  </a>
        </div>

        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li  class="active"><a href="add-new-medicine">Add New Medicine</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Medicine Stocks
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/medicine/category">Category</a></li>
                    <li><a href="/admin/medicineself">All </a></li>
                </ul>
            </li>
            <li ><a href="/admin/userslist">Consumers List</a></li>

            <li><a href="/admin/medicine/borrowers">Consumers Request</a></li>
            <li  class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ordered Medicine
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="/admin/medicine/orderlist">Ordered list </a></li>
                    <li><a href="/admin/medicine/order">New Order</a></li>
                </ul>
            </li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>

<div class="container">
    <h2 style="margin-top: 15px; text-align: center;color:blueviolet">Add New Medicine :</h2>

    <form th:action="@{/add-new-medicine}" th:object="${medicine}" method="post" class="was-validated" style="color: blue">

        <input type="hidden" name="medicineId" th:value="${medicine.medicineId}">

        <div class="form-group">
            <label for="title">Medicine Name</label>
            <input id="title" type="text" class="form-control" placeholder="Medicine Name" name="medicineName" th:field="*{medicineName}"
                   required>
            <!--            <div class="invalid-feedback">Please fill out this field.</div>-->
            <p class="error-message" th:if="${#fields.hasErrors('medicineName')}" th:errors="*{medicineName}"></p>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" id="category" placeholder=" Medicine Category" name="category"
                   th:field="*{category}" required>
            <!--            <div class="invalid-feedback">Please fill out this field.</div>-->
            <p class="error-message" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
        </div>


        <div class="form-group">
            <label for="company"> Company Name</label>
            <input type="text" class="form-control" id="company" placeholder="Company Name" name="company"
                   th:field="*{company}" required>
            <!--            <div class="invalid-feedback">Please fill out this field.</div>-->
            <p class="error-message" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></p>
        </div>


        <div class="form-group">
            <label for="price">Price Per Pill</label>
            <input type="text" class="form-control" id="price" placeholder="Price" name="price"
                   th:field="*{price}" required>
            <!--            <div class="invalid-feedback">Please fill out this field.</div>-->
            <p class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" placeholder="Quantity" name="quantity"
                   th:field="*{quantity}" required>
            <!--            <div class="invalid-feedback">Please fill out this field.</div>-->
            <p class="error-message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Save</button>
            <a href="add-new-medicine" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>


</body>
</html>